.header{
    /* background-color:rgba(0, 0, 55, 0.5); */
    color: #9FADAE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height:80vh;
    width: 40%;
}

@media (max-width:1000px){
 .header{
     height: 10vh;
     width: 100%;
     position: fixed;
     flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin-top: 5em;
    padding-left: 1.5em;

 }

 .header.active{
     background-color: #D4E7E8;
 }
}