.services{
    background-color:rgba(100, 111, 112, 0.5);
    padding-bottom: 2em;
}

.services h2{
    text-align: center;
    color: white;
    font-size: 2rem;
    text-shadow: 3px 3px 5px #6b7779;
}


.services .button-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.services .button-list button{
    background-color: #8f9d9e;
    border: none;
    height: 55px;
    margin: 0.75em 1em;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    text-align: left;
    padding: 0 1em;
    cursor: pointer;
}


.services .button-list button:hover{
        transform:scale(1.04);
        box-shadow: 10px 10px 7px 1px rgba(0, 0, 0, .2);
}

.nailcare{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1em 1em;
  
}

.info-category{
    background-color: white;
    width: 45%;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #8f9d9e;;;
    border-radius: 5px;
    color: #6b7779;
    padding: 0 5px;

}
