.gallery{
    width: 160%;
    margin: 0;
    padding: 0;
    display: none;

}

.grid-container{
    background-color: #BACACB;
    columns: 4;
    column-gap: 0;
}


.grid-container img{
    display: block;
    width: 95%;
    overflow: hidden;
    break-inside: avoid;
    padding: 0.5em;
    border-radius: 20px;
}

.grid-container img:hover{
    transform:scale(1.1);
}
