.header{
    /* background-color:rgba(0, 0, 55, 0.5); */
    color: #9FADAE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height:80vh;
    width: 40%;



}