nav{
    /* background-color:rgba(100, 0, 0, 0.5) */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    padding: 1em 0;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #9FADAE;
    letter-spacing: 0.2rem;

}

nav a:hover{
    color:skyblue;
}

nav ul li:hover{
    list-style:'− ' inside;
}

.burger-menu{
    display: none;  

}

@media (max-width:1000px){

    
    .burger-menu{
        display: block;
        color: rgb(87, 184, 223);
        font-size: 1.5rem;
        position: relative;
        padding: 0.5em;
    }
    nav ul {
        position:absolute;
        background: #BACACB;
        width: 30%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        top:-17px;
        z-index: -1;

    }

    nav a{
        color: white;
        font-size: 0.8rem;
        padding: 1em;
    }
    
    nav a:hover{
        color: #9FADAE;

    }
    nav li{
        padding-left: 5%;
    }

}



