nav{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 66vw;
    float: right;
    position: relative;
    z-index: 1;

}

nav ul {
    width: 80%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2em;
    font-size: 1.25em;
    font-family:cursive;

   
}

nav button{
    all:unset;
    color: #9f9f9f; 
    font-weight: bold;
}

nav button:hover{
    color: #3ebce2;
}

nav img{
    padding-top: 2em;
    width: 15vw;
}


